{% extends "base.html.twig" %}
{% block body %}
    {{ form_start(form)}}
    
    {{ form_row(form.username)}}
    {{ form_row(form.plainPassword)}}
    {{ form_row(form.image)}}
    <div class="mb-3">
       <h1>Hello</h1>
       <img src="{% form.image %}"/>
       <label class="btn btn-primary" for="upload-image">Upload Image</label>
       <input type="file" class="upload-image" id="upload-image" style="display: none;">
    </div>   

    {{ form_row(form.edit)}}

   
    {{ form_end(form)}}
    



{% endblock %}